 .btn-container {
  position: absolute;
  top: 5px;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   margin-top: 10px;
 }

 .btn-color-mode-switch {
   display: inline-block;
   margin: 0px;
   position: relative;
 }

 .btn-color-mode-switch>label.btn-color-mode-switch-inner {
   margin: 0px;
   width: 20vw;
   height: 2em;
   background-color: #bef6f7;
   border-radius: 1em;
   overflow: hidden;
   position: relative;
   transition: all 0.s ease;
   /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
   display: block;
   color: #ff6d53;
   border: #bababa 1px solid;
 }

 .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
   content: attr(data-on);
   position: absolute;
   font-size: 22px;
   font-weight: 600;
   top: 0;
   right: 2.5vw;
   margin-left: 2.5vw;
 }

 .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
   content: attr(data-off);
   width: 10vw;
   height: 1.5em;
   background: #ffffff95;
   border-radius: .75em;
   position: absolute;
   font-size: 20px;
   display: flex;
   justify-content: center;
   left: 1px;
   top: .05em;
   text-align: center;
   transition: all 0.3s ease;
   box-shadow: 0px 0px 6px -2px #111;
   color: #5cabec;
   font-weight: 600;
 }

 .btn-color-mode-switch input[type="checkbox"] {
   cursor: pointer;
   width: 20vw;
   height: 3em;
   opacity: 0;
   position: absolute;
   top: 0;
   transform: translate(-50%, .25em);
   z-index: 1;
   margin: 0px;
 }

 .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
   background-color: #d1e5ee;
 }

 .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
   content: attr(data-on);
   left: 10vw;
   transform: translate(-1px);
 }

 .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
   content: attr(data-off);
   right: auto;
   left: 20px;
 }

 @media only screen and (max-width: 1000px) {

   .btn-container {
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     margin-top: 10px;
   }

   .btn-color-mode-switch {
     display: inline-block;
     margin: 0px;
     position: relative;
   }

   .btn-color-mode-switch>label.btn-color-mode-switch-inner {
     margin: 0px;
     width: 40vw;
     height: 3em;
     background-color: #bef6f7;
     border-radius: 1.5em;
     overflow: hidden;
     position: relative;
     transition: all 0.s ease;
     /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
     display: block;
     color: #ff6d53;
     border: #bababa 1px solid;
   }

   .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
     content: attr(data-on);
     position: absolute;
     font-size: 30px;
     font-weight: 600;
     top: 0;
     right: 5vw;
     margin-top: 3px;
   }

   .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
     content: attr(data-off);
     width: 20vw;
     height: 1.5em;
     background: #ffffff95;
     border-radius: 1.15em;
     position: absolute;
     font-size: 30px;
     display: flex;
     justify-content: center;
     left: 1px;
     top: .05em;
     text-align: center;
     transition: all 0.3s ease;
     box-shadow: 0px 0px 6px -2px #111;
     color: #5cabec;
     font-weight: 600;
   }

   .btn-color-mode-switch input[type="checkbox"] {
     cursor: pointer;
     width: 40vw;
     height: 3em;
     opacity: 0;
     position: absolute;
     top: 0;
     transform: translate(-50%, .25em);
     z-index: 1;
     margin: 0px;
   }

   .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
     background-color: #d1e5ee;
   }

   .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
     content: attr(data-on);
     left: 20vw;
     transform: translate(-1px);
   }

   .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
     content: attr(data-off);
     right: auto;
     left: 5vw;
     margin-top: 3px;
   }

 }

 @media only screen and (max-width: 560px) {

   .btn-container {
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     margin-top: 10px;
   }

   .btn-color-mode-switch>label.btn-color-mode-switch-inner {
     margin: 0px;
     width: 60vw;
     height: 3em;
     background-color: #bef6f7;
     border-radius: 1.5em;
     overflow: hidden;
     position: relative;
     transition: all 0.s ease;
     /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
     display: block;
     color: #ff6d53;
     border: #bababa 1px solid;
   }

   .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
     content: attr(data-on);
     position: absolute;
     font-size: 30px;
     font-weight: 600;
     top: 0;
     right: 5vw;
     margin-top: 3px;
   }

   .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
     content: attr(data-off);
     width: 30vw;
     height: 1.5em;
     background: #ffffff95;
     border-radius: 1.15em;
     position: absolute;
     font-size: 30px;
     display: flex;
     justify-content: center;
     left: 1px;
     top: .05em;
     text-align: center;
     transition: all 0.3s ease;
     box-shadow: 0px 0px 6px -2px #111;
     color: #5cabec;
     font-weight: 600;
   }

   .btn-color-mode-switch input[type="checkbox"] {
     cursor: pointer;
     width: 60vw;
     height: 3em;
     opacity: 0;
     position: absolute;
     top: 0;
     transform: translate(-50%, .25em);
     z-index: 1;
     margin: 0px;
   }

   .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
     background-color: #d1e5ee;
   }

   .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
     content: attr(data-on);
     left: 30vw;
     transform: translate(-1px);
   }

   .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
     content: attr(data-off);
     right: auto;
     left: 5vw;
     margin-top: 3px;
   }

 }

 @media only screen and (max-height: 400px) {
  .btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 5px;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner {
    height: 2em;
    background-color: #bef6f7;
    border-radius: 1em;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    font-size: 20px;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    width: 20vw;
    height: 1.5em;
    background: #ffffff95;
    border-radius: 1em;
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1px;
    top: .05em;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    color: #5cabec;
    font-weight: 600;
  }
  .btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 60vw;
    height: 3em;
    background-color: #bef6f7;
    border-radius: 1.5em;
    overflow: hidden;
    position: relative;
    transition: all 0.s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
    color: #ff6d53;
    border: #bababa 1px solid;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: 0;
    right: 5vw;
    margin-top: 3px;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 30vw;
    height: 1.5em;
    background: #ffffff95;
    border-radius: 1.15em;
    position: absolute;
    font-size: 30px;
    display: flex;
    justify-content: center;
    left: 1px;
    top: .05em;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    color: #5cabec;
    font-weight: 600;
  }

  .btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 60vw;
    height: 3em;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%, .25em);
    z-index: 1;
    margin: 0px;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    background-color: #d1e5ee;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 30vw;
    transform: translate(-1px);
  }

  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 5vw;
    margin-top: 3px;
  }
 }